.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 60px;
  color: black;
  
}
.content {
  display: flex;
  height: calc(100vh - 150px);
  align-items: center;
  padding: 0rem 3rem;
  font-size: 2rem;
  justify-content: space-between;
  color: black;
  
  margin: 0;  
  overflow: hidden; 
}
.textarea button {
  margin: 0.5rem;
}

.rightContent img{
  height: 35rem;
  width: auto;
  margin-top: 3rem;
  

}
