
.landingPage {
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/background.png");
  background-size: cover;
  background-position: center;
}
.logo{
  font-size: 1.2rem;
  padding-left: 1rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  height: 60px;
  color: white;
  
}
.navbar .links a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  gap: 1.2rem ;
}
.loginBtn {
  padding: 0.5rem 1rem;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  gap: 1.2rem ;
}
.content {
  display: flex;
  height: calc(100vh - 150px);
  align-items: center;
  padding: 0rem 3rem;
  font-size: 2rem;
  justify-content: space-between;
  color: white;
  
  margin: 0;  
  overflow: hidden; 
}
.getStartedBtn{
  padding: 1rem 2rem;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
}
.rightContent img{
  height: 35rem;
  width: auto;
  margin-top: 3rem;
  margin-right: 1rem;

}
